h1 {
    background-color: antiquewhite;
    background-size: auto;
    text-align: center;
    color: ;
}
#Akash {
    font-family: cursive;
    background-color: aquamarine; width: auto; height: auto;
}
#About {
    color: white;
    background-color: black; height: auto; width: auto;
    margin-top: auto;
    font-weight: 100;
    text-align: center;
}
table, th, tr, td {
    border:4px solid rgb(11, 255, 153);
    border-collapse: collapse;  
    color: wheat;
    background-color: black;
}
th, td {
    padding: 15px; width: auto;
    margin: 15px;
}
th {
    text-align:center;
}
#Friends {
    color: rgb(23, 10, 255);
}
#Qualification {
    color: red;
    font-style: italic;
}
#Disaster {
    font-family: cursive;
}
#filltheform {
    background-color: antiquewhite; height: max-content; width: 400px;
    font-family: cursive;
}
#group {
    display: block;
    padding: 10px; background-color: aquamarine; width: 285px;
    margin: auto;
    box-shadow: 0 0 20px; color: black;
}
